.wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem;
  width: 100%;
  position: relative;
  right: 35px;
}

.habitsBoard {
  width: 100%;
  padding: 2rem;
  border-radius: 30px;
  background-color: #fbebff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  
}

.habitsBoard h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: "Silkscreen";

}

.habitItem {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.habitInfo {
  display: flex;
  font-size: 1.7rem;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 500px;
}

.habitLabel {
  display: flex;
  align-items: center;
  gap: 1.7rem;
  min-width: 120px;
}

.habitIcon {
  width: 90px;
  height: 90px;
  border-radius: 100px;
}

.progressBar {
  flex-grow: 1;      
  flex-shrink: 1;    
  max-width: 180px; 
  height: 30px;
  background-color: #f0f0f0;
  overflow: hidden;
  background: #F4D9D9;
  border-radius: 25px;
  border: 1px solid #9b9898 !important;
}

.progressFill {
  height: 100%;
  transition: width 0.4s ease;
  border-radius: 25px;
  border-right: 1px solid #7c7878;
}

.habitsButton {
  font-size: 1.5rem;
  margin-top: 2rem;
  padding: 1.1rem 2rem;
  background-color: #ffc4e2;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);

}

.habitsButton:hover {
  background-color: #ffbad7;
}

.btnWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: -15px;
  margin-right: 100px;
}